body { padding:0px;margin:0px;font-family: 'Lato', sans-serif;background-color: black;color:white}
.title { font-size: 2em;line-height: 1.3em; }
.year { font-size: 0.8em;opacity: 0.5 }
.movie_content { position:absolute;background-color: black;margin-top: 20%; border-radius: 10px;opacity:.8;width:500px;padding:2%;min-height:300px;color:white;box-shadow: 0px 0px 40px #ccc}
.movie_poster {margin:5% 5% 10% 10%; float:right;box-shadow: 0px 0px 1px white;border:1px solid black}
.clear { clear:both}
.movie_rating_stars { display: inline-block; width: 110px; font-size: 0.8em }
.movie_rating_value { display: inline-block; width: 20px }
.gold { color: #fdd017 }
.length { float:right;opacity: 0.7}
.empty { opacity: 0.7}
.movie_plot { font-size: 0.9em; margin-top: 10px}
#bg { display:none;position:fixed; top:-50%; left:-50%; width:200%; height:200%}
#bg img { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; min-width:50%; min-height:50%}

/* TMDb/IMDb ICONS */
a.fakebutton,span.fakebutton {display:inline-block;padding:3px;padding-left:19px;background-repeat:no-repeat;background-position:0px 50%;background-size:16px auto }
a.imdb {background-image:url("../img/imdb-logo.png") }
a.tmdb {background-image:url("../img/tmdb-logo.png") }

/* FRONTPAGE */
#container, .container { padding-top:90px;line-height:0px;}
.item { width:100%;overflow:hidden;line-height:0px;opacity: 0.8;padding: 0px;margin: 0px;float:left}
.item a { width:100%;text-decoration: none;float:left;line-height:0px;}
.item a img { position:relative;z-index:1;float:left;line-height:0px;}
.item a .title { width:100%;transition: 100ms;-moz-transition: 100ms; -webkit-transition: 100ms; -o-transition: 100ms; opacity: 0.6;color:white;line-height: 30px;float:left;text-align:center; font-size: 1em;position:relative;bottom:30px;z-index:2;background-color:black;height:30px}
.item a:hover .title, .item a:focus .title {opacity:1;font-size:1.2em;}
.item:hover, .item:focus { opacity: 1}
.item a .title span {padding:0px 5px 0px 5px} 
.footernav {
transition: 300ms;
-moz-transition: 300ms; /* Firefox 4 */
-webkit-transition: 300ms; /* Safari and Chrome */
-o-transition: 300ms; /* Opera */
color:#999;font-size: 1.5em;background-color: black;position:absolute;bottom:0px;width:100%;height:40px;opacity:0.5;text-align: center;line-height: 40px;box-shadow: 0px 0px 1px white}
.footernav:hover {opacity:1}
.footernav i {padding:0px 20px 0px 20px;}
.footernav a {color:white;text-decoration: none}

/* STATS PAGE */
div.graph {
	width: 400px;
	height: 300px;
}
h1 {margin-top:2em;}
h1.amount {margin-top:10px;font-size:5em}
h1.amount span {font-size: 0.24em;color:grey}

/* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px 30px; /* Increase vertical padding to match navbar links */
      font-size: 15px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      
    }
    
    .form-search {
	margin-top:10px    
    }
